[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
notion-py = {git = "https://github.com/arturtamborski/notion-py", editable = true, ref = "master"}
recurrent = "*"
python-dateutil = "*"
durations = "*"

[requires]
python_version = "3.9"
