beautifulsoup4==4.9.1
bs4==0.0.1
cached-property==1.5.1
certifi==2020.6.20
chardet==3.0.4
commonmark==0.9.1
dictdiffer==0.8.1
dominate==2.5.2
durations==0.3.3
idna==2.10
mistletoe==0.7.2
notion-py==0.0.4
parsedatetime==2.6
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.3.1
recurrent==0.4.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
text-unidecode==1.3
tzlocal==2.1
urllib3==1.25.10
